@import "../bower_components/angular-material/angular-material";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.md-float-right { float: right }

md-list-item.active .md-list-item-inner {
  font-weight: bold !important;
}


tz-channel-sender textarea {
  display: block;
  height: 28px;
  line-height: 28px;
  width: 96%;
  margin: 2px auto;
  border: 2px solid gray;
  border-radius: 5px;
}

.tz-message {
  margin-left: 1em !important;
  margin-top: 0 !important;
  margin-bottom: .5em !important;
}
.tz-message tz-message-menu {
  position: absolute;
  right: 0;
  top: -10px;
  visibility: hidden;
}
.tz-message:hover, .tz-message.active {
  background-color: rgba(0,0,0,0.10);
}
.tz-message:hover tz-message-menu, .tz-message.active {
  visibility: visible;
}
.tz-message .md-caption {
  color: rgba(0, 0, 0, 0.54);
}
.tz-message .md-list-item-text p {
  color: rgba(0, 0, 0, 0.8) !important;
}

.tz-conversion-menu-opener {
  position: fixed;
  right: 15px;
  top: 70px;
  z-index: 3
}
