@import "../bower_components/angular-material/angular-material";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.md-float-right { float: right }

md-list-item.active .md-list-item-inner {
  font-weight: bold !important;
}

.tz-conversion-menu-opener {
  position: fixed;
  right: 15px;
  top: 70px;
  z-index: 2
}
