<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="tzConversationDetail.toggleLeftMenu()">
      <md-icon md-svg-icon="images/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>Team Zeus</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="To-Do">
      <md-tooltip md-direction="bottom">To-Do</md-tooltip>
      <md-icon>assignment_turned_in</md-icon>
    </md-button>
    <md-menu>
      <md-button aria-label="Open main menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-tooltip md-direction="bottom">Apps</md-tooltip>
        <md-icon>view_module</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="tzToolbar.gotoChat()">
            <md-icon>chat</md-icon>
            Chat
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="tzToolbar.gotoCalendar()">
            <md-icon>event</md-icon>
            Calendar
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="tzToolbar.gotoPeople()">
            <md-icon>contacts</md-icon>
            People
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
