<section ng-mouseover="mouseOver = true">
  <md-button ng-if="!mouseOver" aria-label="Open Message menu" class="md-icon-button">
    <md-icon md-menu-origin>more_horiz</md-icon>
  </md-button>

  <md-menu ng-if="mouseOver" md-position-mode="target-right target" >
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="tzMessageMenu.openMenu($mdOpenMenu, $event)">
      <md-icon md-menu-origin>more_horiz</md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="action()">
          <md-icon>mode_edit</md-icon>
          Edit message
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="action()">
          <md-icon>pin_drop</md-icon>
          Pin message
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="action()" class="md-warn">
          <md-icon>delete_forever</md-icon>
          Delete message
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</section>

