<md-toolbar flex="none" style="min-height: 64px; max-height: 64px;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="chat.toggleLeftMenu()">
      <md-icon md-svg-icon="images/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>Team Zeus</span>
    </h2>
    <span flex></span>
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>view_module</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-disabled="true" ng-click="gotoChat()">
            <md-icon>chat</md-icon>
            Chat
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoCalendar()">
            <md-icon>event</md-icon>
            Calendar
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoPeople()">
            <md-icon>contacts</md-icon>
            People
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<section layout="row" flex style="max-height: calc(100% - 64px)">
  <md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="chat-left-menu">
    <md-toolbar class="md-theme-light md-hue-1" hide-gt-md>
      <h1 class="md-toolbar-tools">Channels</h1>
    </md-toolbar>
    <md-content flex md-scroll-y>
      <md-list-item ng-repeat="channel in chat.channels"
                    ng-class="::{'active': channel.get('id') === chat.activeChannelFilter}"
                    ng-click="::chat.gotoChannel()">
        <p>#{{ ::channel.get('name') }}</p>
      </md-list-item>
    </md-content>
  </md-sidenav>

  <div layout="column" flex>
    <md-content flex md-scroll-y>
      <md-list>
        <md-button class="md-icon-button tz-conversion-menu-opener"
                   ng-hide="chat.isOpenConversionMenu()"
                   ng-click="chat.openConversationMenu()">
          <md-icon>menu</md-icon>
        </md-button>
        <md-divider ng-repeat-start="message in chat.messages" ng-if="::!$first && message.get('date')"></md-divider>
        <md-subheader  ng-if="::message.has('date')">{{ ::message.get('date') }}</md-subheader>
        <md-list-item class="md-3-line md-long-text tz-message" ng-repeat-end>
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h4 class="md-subhead"><strong>{{ ::message.getIn(['user', 'name']) }}</strong> <time class="md-caption">{{ ::message.get('time') }}</time></h4>
            <p ng-bind-html="::message.get('body')"></p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-sidenav flex="none" class="md-sidenav-right md-whiteframe-z2" md-component-id="conversion-menu"
              md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-theme-light md-hue-1">
      <h1 class="md-toolbar-tools">Conversation options</h1>
    </md-toolbar>
    <md-content layout-padding>
      board
      <br /><br />
      attachments
      <br /><br />
      pinned messages
      <br /><br />
    </md-content>
  </md-sidenav>
</section>
