<md-toolbar flex="none" style="min-height: 64px; max-height: 64px;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="chat.toggleLeftMenu()">
      <md-icon md-svg-icon="images/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>Team Zeus</span>
    </h2>
    <span flex></span>
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>view_module</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-disabled="true" ng-click="gotoChat()">
            <md-icon>chat</md-icon>
            Chat
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoCalendar()">
            <md-icon>event</md-icon>
            Calendar
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoPeople()">
            <md-icon>contacts</md-icon>
            People
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<section layout="row" flex style="max-height: calc(100% - 64px)">
  <md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="chat-left-menu">
    <md-content>
      <md-list-item ng-repeat="channel in chat.channels" ng-class="::{'active': channel.isActive}"
                    ng-click="chat.gotoChannel()">
        <p>#{{ ::channel.name }}</p>
      </md-list-item>
    </md-content>
  </md-sidenav>

  <div layout="column" flex>
    <md-content md-scroll-y>
      <md-list>
        <md-button class="md-icon-button tz-conversion-menu-opener"
                   ng-hide="chat.isOpenConversionMenu()"
                   ng-click="chat.openConversationMenu()">
          <md-icon>menu</md-icon>
        </md-button>
        <md-subheader class="md-no-sticky">2nd of January 2015</md-subheader>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-subheader class="md-no-sticky">3rd of January 2015</md-subheader>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <md-icon class="md-36">account_circle</md-icon>
          <div class="md-list-item-text">
            <h3>Jiri Vopolka</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</section>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="conversion-menu">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Conversation options</h1>
  </md-toolbar>
  <md-content layout-padding>
    options
  </md-content>
</md-sidenav>
